.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  position: absolute;
  width: 100%;
  color: white;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}